*{
    margin : 0;
    padding : 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #2F343B;
    color: #F2EED9;
}

.navbar{
    color : white;
    padding: 0 5%;
    justify-content: space-between;
    background-color: #1B1F23 ;
    display: flex;
    position: fixed;
    height: 40px;
    width: 90%;
    z-index: 1;
    top: 0;
    /* border-bottom: solid #87454D 1px; */
    border-bottom: solid #C6A264 1px;
    transition: transform 0.4s ease, opacity 0.4s ease; /* Animasi transisi */
    transform: translateY(0); /* Posisi default */
    opacity: 1; 
}

.navbar.hidden {
    transform: translateY(-100%);
    opacity: 0; 
}

.link{
    padding: 7px;
    border-radius: 3px;
    height:10px;
    transition: 0.3s ease;
}

.link{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    background-color: inherit;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
}
.link.active{
    background-color: #C6A264;
}

.button{
    display: flex;
    align-items: center;
}

.link:hover{
    background-color: #C6A264;
}

.logo{
    font-weight : bold;
    background-color: inherit;
    display: flex;
    align-content: center;
    align-items: center;    
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
}

.footer {
    height: 60px;
    background-color: #1B1F23;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #C6A264;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.footerText {
    color: #F2EED9;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.socialIcons {
    display: flex;
    gap: 10px;
}

.icon img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.icon a {
    text-decoration: none;
}


.slider{
    /* height: 600px; */
    width: 100%;
    height: 700px;
    max-width: 100vw;
    margin: auto;
    position: relative;
    /* top: 40px; */
    /* background-color: grey; */
    overflow: hidden;
}

.list{
    position: absolute;
    top : 0;
    left : 0;
    height: 100%;
    display: flex;
    max-width: max-content;
    transition: 1s;
}

.list img{
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    /* object-fit: cover; */
}

.detailinfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #1B1F23;
    color: #F2EED9;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.banner-content h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.banner-content p {
    font-size: 18px;
    margin-top: 10px;
    font-style: italic;
}


.buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: white;
    border: none;
    font-family: monospace;
    font-weight: bold;

}

.button{
    display:flex;
    background-color: inherit;
}


.desc{
    display: flex;
    /* height:400px; */
    flex-direction: column;
    margin: 50px;
}

.title, .desctext{
    display: flex;
    justify-content: center;
    text-align: center;
}
.title{
    margin: 35px;   
    font-size: 1.5em;
    /* border-bottom: 1px solid red; */
}

.desctext{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    margin-bottom: 35px;
}

.bestHaircut{
    border-top: #C6A264 solid 1px;
    border-bottom: #C6A264 solid 1px;
    background-color: #1B1F23;
    display: flex;
    padding: 50px;
    flex-direction: column;
    box-shadow: 0 0px 5px #C6A264
}

.ourHaircut{
    color:#F2EED9;
    background-color: inherit;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}

.haircuts{
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:50px;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    background-color: #F2EED9;
    height: 400px;
    border-radius: 8%;
    width: 230px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0px 10px #C6A264;
    
}

.card img{
    height: 100%;
    width: 100%;
    /* position: relative; */
    object-fit: cover;
}

.hairdetail{
    display: flex;
    flex-direction: column;
    margin-top: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    color:#F2EED9;
    align-items: center;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, #C6A264 100%); */
    opacity: 0;
    transition: 0.3s ease;
}

.card:hover .hairdetail{
    opacity: 1;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    /* box-shadow: 0 10px 30px #C6A264; */
}

.hairtitle{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.hairdesc{
    font-weight: lighter;
    font-size: 0.75em;
    text-align: center;
    margin: 10px 0;

}


.contactus{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.ContactUstext{

    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.contactusContent{
    text-align: center;
    margin-bottom: 30px;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cutext{
    margin-bottom: 30px;
}

.contact img{
    height:20px;
    margin:5px;
}


@media (max-width: 900px) {
    .haircuts {
        justify-content: center; 
        gap: 15px; 
    }
}



@media (max-width: 768px) {
    .button {
        display: none;
        flex-direction: column;
        background-color: #1B1F23;
        position: absolute;
        top: 40px;
        right: 5%;
        width: 90%;
        border-radius: 10px;
        padding: 10px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    .button.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
    .haircuts {
        justify-content: center; 
        gap: 10px;
    }
}
